@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Wavefont:wght@4..1000&display=swap');
body {
    background-color: #3B4143;
    font-family: "National Park", sans-serif;
}
header {
    background-color: #598698;
    padding: 10px;
}
header img{
    width: 110px;
}
.logo {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    font-size: 35px;
    color:skyblue;
    font-family: "National Park", sans-serif;
}
.beneficios {
    font-family: "National Park", sans-serif;
    margin: 25px;
    padding: 5px;
    overflow: hidden;
    background-color: #52666E;
    border-radius: 5px;
    color: #3BBBED;
}
.beneficios h3 {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.container {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.img img {
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.content {
    width: 300px;
    height: 350px;
    margin: 10px;
    background-color:#52666E ;
}
.tarjetas {
    display: inline;
    flex-direction: column;

    align-items: baseline;
}
footer{
    padding: 50px;
    background-color: #556266;
    color: white;
}